video {
  border: black 1px solid;
}

html,
body {
  height: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  background-color: red;
}

.dot-green {
  background-color: green;
}
